<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612509306796-dvn5k6vll5bc0ndfmiu5qmhknut52o2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612509306796-dvn5k6vll5bc0ndfmiu5qmhknut52o2j</string>
	<key>API_KEY</key>
	<string>AIzaSyDfmRqYNp6tMayUOOTEU75Ovzz7kx9YVzc</string>
	<key>GCM_SENDER_ID</key>
	<string>612509306796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.test.ankithsapp</string>
	<key>PROJECT_ID</key>
	<string>anks-project-test</string>
	<key>STORAGE_BUCKET</key>
	<string>anks-project-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612509306796:ios:f9bf88f7e042b6cc36f409</string>
</dict>
</plist>